@charset "UTF-8";

body {
    background-image: url("/img/barbearia.jpg");
    background-size: 1535px 722px;
    text-align: center;
    font-size: 20px;
    
}

.title {
	font-family:Courier New, monospace;
  	text-shadow: 0.2em 0.2em 0.3em black;
    color: #fcc204;
	text-align: center;
	padding: 20px;
	font-size: 35px;
}

form {
	text-align: center;
	color: #fcc204;
	
}

.form-agenda {
	margin-left:auto;
	margin-right:auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 550px;
    height: 600px;
    border:solid 4px;
    border-radius:20px;
  	background-color: #000000	;
  	box-shadow: 0.1em 0.1em 0.2em #ffffff;

}

.dados-cliente{
	padding-top: 10px;
}

.botao-agenda {
	padding-top: 32px;
}

.form-func {
	margin-left:auto;
	margin-right:auto;
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	width: 550px;
    height: 340px;
    border:solid 4px;
    border-radius:20px;
  	background-color: #000000	;
  	box-shadow: 0.1em 0.1em 0.2em #ffffff;
}

.form-login {
	margin-left:auto;
	margin-right:auto;
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	width: 350px;
    height: 280px;
    border:solid 4px;
    border-radius:20px;
  	background-color: #000000	;
  	box-shadow: 0.1em 0.1em 0.2em #ffffff;
}

.form-serv {
	margin-left:auto;
	margin-right:auto;
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	width: 550px;
    height: 230px;
    border:solid 4px;
    border-radius:20px;
  	background-color: #000000	;
  	box-shadow: 0.1em 0.1em 0.2em #ffffff;
}

.card-serv {
	padding: 30px;
	display: flex;
}
