<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <title>Home - Barbearia El Terminal</title>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" />

  </head>


  <body>
  
    <div class="logo">
        <header>
            <img th:src="@{/img/elterminal-logo.png}" alt="elterminal-logo" width="128" height="128">
          
        </header>
    </div> 

	<p id="titulo">Barbearia El Terminal</p>
    <div class="descrição">
			
        <p>Muito mais do que você espera!</p>

    </div>
    
    <div class="botão">
         <a class="btn btn-warning btn-lg" th:href="@{/index}">Agendar</a> 
    </div>
  
	<footer>
	    <div class="social">	 
		    <div class="facebook-home">
		    	<a href="" target="_blank" role="button"><img th:src="@{/img/facebook.png}" alt="elterminal-logo" width="48" height="48"></a>
		 	</div>
		 	
		  	<div class="instagram-home">
		      	<a href="" target="_blank" role="button"><img th:src="@{/img/instagram.png}" alt="elterminal-logo" width="50" height="50"></a>
		    </div>
		    
		    <div class="whatsapp-home">
		      	<a href="" target="_blank" role="button"><img th:src="@{/img/whatsapp.png}" alt="elterminal-logo" width="50" height="50"></a>
		    </div>
	    </div>
    <br>
    	<h5>Horário de funcionamento: Segunda a Sábado - 9:00 hrs às 18:00 hrs</h5>
    
    </footer>
        	
</body>
</html>
